._~$clean_Glycolysis figures.pptx
._clean_Glycolysis figures.pdf
._clean_Glycolysis figures.pptx
._Glycolysis in G-MDSCs.pptx
._Horn et al_Glycolysis.docx
._Key resources.xlsx
._Methods for glycolysis-HIF-1a manuscript_Prabhakar.docx
._Tammy comments- Glycolysis paper outline.docx
._Tammy edits- Horn et al_Glycolysis 2.22.23.docx
._TK comments- Horn et al_Glycolysis 1.31.23.docx
._TK edits- Glycolysis figures 4 3.18.23.pptx
._TK edits- Horn et al_Glycolysis-HIF 3.18.23.docx
._TK edits- Horn et al. Glycolysis-HIF figures 2.22.23.pptx
~$clean_Glycolysis figures.pptx
clean_Glycolysis figures.pdf
clean_Glycolysis figures.pptx
Glycolysis in G-MDSCs.pptx
Horn et al_Glycolysis.docx
Key resources.xlsx
Methods for glycolysis-HIF-1a manuscript_Prabhakar.docx
Tammy comments- Glycolysis paper outline.docx
Tammy edits- Horn et al_Glycolysis 2.22.23.docx
TK comments- Horn et al_Glycolysis 1.31.23.docx
TK edits- Glycolysis figures 4 3.18.23.pptx
TK edits- Horn et al_Glycolysis-HIF 3.18.23.docx
TK edits- Horn et al. Glycolysis-HIF figures 2.22.23.pptx
analysis/._hif1a_cKO.R
analysis/._Horn_2023_figure_code.R
analysis/._human__integrated_ortho.R
analysis/._mouse__integrated_ortho.R
lab_pc/._(No subject)
lab_pc/._(No subject)_2
lab_pc/._(No subject)_2.zip
lab_pc/._(No subject).zip
lab_pc/._2_dg legend.tif
lab_pc/._chetomin legend.tif
lab_pc/._Day 3 FACS 6.9.22-Layout.tiff
lab_pc/._fig s6b changes.tif
lab_pc/._fig s6c changes.tif
lab_pc/._Figure 1A.png
lab_pc/._Figure 3.tif
lab_pc/._Figure 4A.tif
lab_pc/._Figure 4C.tif
lab_pc/._Figure 5A.tif
lab_pc/._Figure 5B.tif
lab_pc/._Figure 5C.tif
lab_pc/._Figure 6A.tif
lab_pc/._Figure 6B.tif
lab_pc/._Figure 6C.tif
lab_pc/._Figure 7.tif
lab_pc/._Figure 8A.tif
lab_pc/._Figure 8B.tif
lab_pc/._Figure S4A.tif
lab_pc/._Figure S4B.tif
lab_pc/._Figure S4C.tif
lab_pc/._Figure S5A.tif
lab_pc/._Figure S5B.tif
lab_pc/._LD 30 min - 2DG percent.tif
lab_pc/._LD 30 min - Chetomin percent.tif
lab_pc/._supp mrp8 hif cell num.tif
lab_pc/(No subject)_2.zip
lab_pc/(No subject).zip
lab_pc/2_dg legend.tif
lab_pc/chetomin legend.tif
lab_pc/Day 3 FACS 6.9.22-Layout.tiff
lab_pc/fig s6b changes.tif
lab_pc/fig s6c changes.tif
lab_pc/Figure 1A.png
lab_pc/Figure 3.tif
lab_pc/Figure 4A.tif
lab_pc/Figure 4C.tif
lab_pc/Figure 5A.tif
lab_pc/Figure 5B.tif
lab_pc/Figure 5C.tif
lab_pc/Figure 6A.tif
lab_pc/Figure 6B.tif
lab_pc/Figure 6C.tif
lab_pc/Figure 7.tif
lab_pc/Figure 8A.tif
lab_pc/Figure 8B.tif
lab_pc/Figure S4A.tif
lab_pc/Figure S4B.tif
lab_pc/Figure S4C.tif
lab_pc/Figure S5A.tif
lab_pc/Figure S5B.tif
lab_pc/LD 30 min - 2DG percent.tif
lab_pc/LD 30 min - Chetomin percent.tif
lab_pc/supp mrp8 hif cell num.tif
lab_pc/(No subject)/._Figure 3.tif
lab_pc/(No subject)/._Figure 4A.tif
lab_pc/(No subject)/._Figure 4C.tif
lab_pc/(No subject)/._Figure 6A.tif
lab_pc/(No subject)/._Figure 6B.tif
lab_pc/(No subject)/._Figure 6C.tif
lab_pc/(No subject)/._Figure S5A.tif
lab_pc/(No subject)/._Figure S5B.tif
lab_pc/(No subject)/._Figure S5C.tif
lab_pc/(No subject)/._Figure S6C.tif
lab_pc/(No subject)/._Figure S7.tif
lab_pc/(No subject)/Figure 3.tif
lab_pc/(No subject)/Figure 4A.tif
lab_pc/(No subject)/Figure 4C.tif
lab_pc/(No subject)/Figure 6A.tif
lab_pc/(No subject)/Figure 6B.tif
lab_pc/(No subject)/Figure 6C.tif
lab_pc/(No subject)/Figure S5A.tif
lab_pc/(No subject)/Figure S5B.tif
lab_pc/(No subject)/Figure S5C.tif
lab_pc/(No subject)/Figure S6C.tif
lab_pc/(No subject)/Figure S7.tif
lab_pc/(No subject)_2/._Figure 3.tif
lab_pc/(No subject)_2/._Figure 5B.tif
lab_pc/(No subject)_2/Figure 3.tif
lab_pc/(No subject)_2/Figure 5B.tif
R/._R.Rproj
R/R.Rproj
R/.Rproj.user/E3849057/._pcs
R/.Rproj.user/E3849057/._rmd-outputs
R/.Rproj.user/E3849057/._saved_source_markers
R/.Rproj.user/E3849057/rmd-outputs
R/.Rproj.user/E3849057/saved_source_markers
R/.Rproj.user/E3849057/pcs/._files-pane.pper
R/.Rproj.user/E3849057/pcs/._source-pane.pper
R/.Rproj.user/E3849057/pcs/._windowlayoutstate.pper
R/.Rproj.user/E3849057/pcs/._workbench-pane.pper
R/.Rproj.user/E3849057/pcs/files-pane.pper
R/.Rproj.user/E3849057/pcs/source-pane.pper
R/.Rproj.user/E3849057/pcs/windowlayoutstate.pper
R/.Rproj.user/E3849057/pcs/workbench-pane.pper
R/.Rproj.user/E3849057/sources/._session-d9fc4a17
R/.Rproj.user/E3849057/sources/per/._t
R/.Rproj.user/E3849057/sources/prop/._E8C9BEA9
R/.Rproj.user/E3849057/sources/prop/16A4BAE0
R/.Rproj.user/E3849057/sources/prop/32C7A575
R/.Rproj.user/E3849057/sources/prop/86A28783
R/.Rproj.user/E3849057/sources/prop/777F9794
R/.Rproj.user/E3849057/sources/prop/3024A192
R/.Rproj.user/E3849057/sources/prop/66459D08
R/.Rproj.user/E3849057/sources/prop/E8C9BEA9
R/.Rproj.user/E3849057/sources/prop/INDEX
R/.Rproj.user/E3849057/sources/session-d9fc4a17/._089F9AAF
R/.Rproj.user/E3849057/sources/session-d9fc4a17/._089F9AAF-contents
R/.Rproj.user/E3849057/sources/session-d9fc4a17/._lock_file
R/.Rproj.user/E3849057/sources/session-d9fc4a17/089F9AAF
R/.Rproj.user/E3849057/sources/session-d9fc4a17/089F9AAF-contents
R/.Rproj.user/E3849057/sources/session-d9fc4a17/lock_file
R/.Rproj.user/shared/notebooks/patch-chunk-names
R/.Rproj.user/shared/notebooks/paths
R/Figure 1/._Figure 1B.tiff
R/Figure 1/._Figure 1C.png
R/Figure 1/._Figure 1C.tiff
R/Figure 1/Figure 1 dim red.rds
R/Figure 1/Figure 1.rds
R/Figure 1/Figure 1B.png
R/Figure 1/Figure 1B.tiff
R/Figure 1/Figure 1C.png
R/Figure 1/Figure 1C.tiff
R/Figure 10/._Figure 10A.tiff
R/Figure 10/._Figure 10B_1.tiff
R/Figure 10/._Figure 10B_2.tiff
R/Figure 10/._Figure 10C.png
R/Figure 10/._Figure 10C.tiff
R/Figure 10/._Figure 10C.xlsx
R/Figure 10/Figure 10A.csv
R/Figure 10/Figure 10A.png
R/Figure 10/Figure 10A.tiff
R/Figure 10/Figure 10B_1.tiff
R/Figure 10/Figure 10B_2.tiff
R/Figure 10/Figure 10C.png
R/Figure 10/Figure 10C.tiff
R/Figure 10/Figure 10C.xlsx
R/Figure 11/._Figure 11A.png
R/Figure 11/._Figure 11A.tiff
R/Figure 11/._Figure 11A.xlsx
R/Figure 11/._Figure 11B_1.tiff
R/Figure 11/._Figure 11B_2.tiff
R/Figure 11/._Figure 11C.png
R/Figure 11/._Figure 11C.tiff
R/Figure 11/._Figure 11C.xlsx
R/Figure 11/Figure 11A.png
R/Figure 11/Figure 11A.tiff
R/Figure 11/Figure 11A.xlsx
R/Figure 11/Figure 11B_1.tiff
R/Figure 11/Figure 11B_2.tiff
R/Figure 11/Figure 11C.png
R/Figure 11/Figure 11C.tiff
R/Figure 11/Figure 11C.xlsx
R/Figure 2/._Figure 2A.png
R/Figure 2/._Figure 2A.tiff
R/Figure 2/._Figure 2B.xlsx
R/Figure 2/._Figure 2C.csv
R/Figure 2/._Figure 2C.png
R/Figure 2/._Figure 2C.tiff
R/Figure 2/._Figure 2D.csv
R/Figure 2/._Figure 2D.png
R/Figure 2/._Figure 2D.tiff
R/Figure 2/Figure 2.rds
R/Figure 2/Figure 2A.png
R/Figure 2/Figure 2A.tiff
R/Figure 2/Figure 2B.png
R/Figure 2/Figure 2B.tiff
R/Figure 2/Figure 2B.xlsx
R/Figure 2/Figure 2C.csv
R/Figure 2/Figure 2C.png
R/Figure 2/Figure 2C.tiff
R/Figure 2/Figure 2D.csv
R/Figure 2/Figure 2D.png
R/Figure 2/Figure 2D.tiff
R/Figure 9/._Figure 9A.tiff
R/Figure 9/._Figure 9B.tiff
R/Figure 9/._Figure 9C.png
R/Figure 9/._Figure 9C.tiff
R/Figure 9/._Figure 9C.xlsx
R/Figure 9/Figure 9.rds
R/Figure 9/Figure 9A.png
R/Figure 9/Figure 9A.tiff
R/Figure 9/Figure 9B.png
R/Figure 9/Figure 9B.tiff
R/Figure 9/Figure 9C.png
R/Figure 9/Figure 9C.tiff
R/Figure 9/Figure 9C.xlsx
R/Figure S1/._Figure S1A.tiff
R/Figure S1/._Figure S1B.tiff
R/Figure S1/Figure S1 dim red.rds
R/Figure S1/Figure S1.rds
R/Figure S1/Figure S1A.png
R/Figure S1/Figure S1A.tiff
R/Figure S1/Figure S1B.png
R/Figure S1/Figure S1B.tiff
R/Figure S10/._Figure S10A.tiff
R/Figure S10/._Figure S10B.tiff
R/Figure S10/._Figure S10C.tiff
R/Figure S10/._Figure S11.rds
R/Figure S10/._Figure S11A.png
R/Figure S10/._Figure S11B.png
R/Figure S10/Figure S10A.tiff
R/Figure S10/Figure S10B.tiff
R/Figure S10/Figure S10C.tiff
R/Figure S10/Figure S11.rds
R/Figure S10/Figure S11A.png
R/Figure S10/Figure S11A.tiff
R/Figure S10/Figure S11B.png
R/Figure S10/Figure S11B.tiff
R/Figure S10/Figure S11C.tiff
R/Figure S2/._Figure S2.csv
R/Figure S2/._Figure S2.png
R/Figure S2/._Figure S2.tiff
R/Figure S2/Figure S2.csv
R/Figure S2/Figure S2.png
R/Figure S2/Figure S2.tiff
R/Figure S3/._Figure S3A.csv
R/Figure S3/._Figure S3A.png
R/Figure S3/._Figure S3A.tiff
R/Figure S3/._Figure S3B_1.csv
R/Figure S3/._Figure S3B_2.csv
R/Figure S3/._Figure S3B.tiff
R/Figure S3/Figure S3A.csv
R/Figure S3/Figure S3A.png
R/Figure S3/Figure S3A.tiff
R/Figure S3/Figure S3B_1.csv
R/Figure S3/Figure S3B_2.csv
R/Figure S3/Figure S3B.png
R/Figure S3/Figure S3B.tiff
R/Figure S6/._Figure S6A.tiff
R/Figure S6/._Figure S6B.tiff
R/Figure S6/Figure S6.rds
R/Figure S6/Figure S6A.png
R/Figure S6/Figure S6A.tiff
R/Figure S6/Figure S6B.png
R/Figure S6/Figure S6B.tiff
R/Figure S7/._Figure S7A.png
R/Figure S7/._Figure S7A.tiff
R/Figure S7/._Figure S7B.tiff
R/Figure S7/Figure S7.rds
R/Figure S7/Figure S7A.png
R/Figure S7/Figure S7A.tiff
R/Figure S7/Figure S7B.png
R/Figure S7/Figure S7B.tiff
R/Figure S8/._Figure S8_1.csv
R/Figure S8/._Figure S8.tiff
R/Figure S8/Figure S8_1.csv
R/Figure S8/Figure S8_2.csv
R/Figure S8/Figure S8.png
R/Figure S8/Figure S8.tiff
R/Figure S9/._Figure S9A.csv
R/Figure S9/._Figure S9A.png
R/Figure S9/._Figure S9B.png
R/Figure S9/Figure S9A.csv
R/Figure S9/Figure S9A.png
R/Figure S9/Figure S9A.tiff
R/Figure S9/Figure S9B.csv
R/Figure S9/Figure S9B.png
R/Figure S9/Figure S9B.tiff
analysis/compass/._hif1a_cKO__d3null_v_d3cre.ipynb
analysis/compass/._hif1a_cKO__d14null_v_d14cre.ipynb
analysis/compass/._mouse__integrated_ortho.R
analysis/compass/._mouse__intergrated_ortho.ipynb
analysis/manuscript_figures/._fig_1.R
analysis/manuscript_figures/._fig_2.R
analysis/manuscript_figures/._fig_4.R
analysis/manuscript_figures/._fig_9.R
analysis/manuscript_figures/._Horn_2023_figure_code.R
R/Horn 2023 figure code.R
R/.Rproj.user/E3849057/sources/prop/._3A968C7D
R/.Rproj.user/E3849057/sources/prop/._83E9B556
R/.Rproj.user/E3849057/sources/prop/._110FC6F4
R/.Rproj.user/E3849057/sources/prop/._16917839
R/.Rproj.user/E3849057/sources/prop/._F786B505
R/.Rproj.user/E3849057/sources/prop/._INDEX
R/.Rproj.user/E3849057/sources/prop/3A968C7D
R/.Rproj.user/E3849057/sources/prop/83E9B556
R/.Rproj.user/E3849057/sources/prop/110FC6F4
R/.Rproj.user/E3849057/sources/prop/16917839
R/.Rproj.user/E3849057/sources/prop/F786B505
R/.Rproj.user/E3849057/sources/session-d9fc4a17/._5AE4BE31-contents
R/.Rproj.user/E3849057/sources/session-d9fc4a17/._5F91E3D3
R/.Rproj.user/E3849057/sources/session-d9fc4a17/._5F91E3D3-contents
R/.Rproj.user/E3849057/sources/session-d9fc4a17/._CDD24F53-contents
R/.Rproj.user/E3849057/sources/session-d9fc4a17/._D7CC026E-contents
R/.Rproj.user/E3849057/sources/session-d9fc4a17/._F2C4256D-contents
R/.Rproj.user/E3849057/sources/session-d9fc4a17/5AE4BE31-contents
R/.Rproj.user/E3849057/sources/session-d9fc4a17/5F91E3D3
R/.Rproj.user/E3849057/sources/session-d9fc4a17/5F91E3D3-contents
R/.Rproj.user/E3849057/sources/session-d9fc4a17/CDD24F53-contents
R/.Rproj.user/E3849057/sources/session-d9fc4a17/D7CC026E-contents
R/.Rproj.user/E3849057/sources/session-d9fc4a17/F2C4256D-contents
R/.Rproj.user/shared/notebooks/._paths
R/Figure X.tiff
R/._Horn 2023 figure code.R
R/._Figure X.tiff
